---
import DefaultLayout from '../layouts/DefaultLayout.astro';
---
<DefaultLayout/>
<h1 class="header-unique-home">Welcome!</h1>
<p>You've found ModWeaver! Click the <code>Mods</code> button at the top of the screen to see a list of mods!</p>
<br/>
<p>Join the Cobweb <a href="https://discord.gg/m4244VbvHA" style="text-decoration: underline;">Discord</a> for more information and support on ModWeaver</p>
<style>

    .header-unique-home {
        font-weight: bold;
        font-size: x-large;
    }
</style>