---
import DefaultLayout from "../layouts/DefaultLayout.astro"
import { URL } from "url"
import NotFound from "../components/NotFound.astro";
---

<DefaultLayout />
<div class="column-left">
    <img id="mod-icon">
    <p id="mod-name">Loading...</p>
    <p id="mod-auther">Loading...</p>
    <p id="mod-summary">Loading...</p>
    <br/>
    <p id="mod-id">Loading...</p>
</div>
<div class="column-centre">
    <p id="mod-body">Loading...</p>
</div>
<NotFound />

<script>
    let urlc = window.location
    let new_url = new URL(urlc.toString())
    let urlParams = new_url.searchParams
    let modToGet = urlParams.get("mod")
    let notFound = document.getElementById("notfound")

    fetch("http://127.0.0.1:5000/api/list_projects").then(function (response) {
        response.json().then(function (data) {
            if (modToGet != null) {
                console.log(data)
                for (var i = 0; i < data.length; i++) {
                    if (modToGet == data[i]) {
                        notFound.style.display = "none"

                        fetch("http://127.0.0.1:5000/api/project/" + modToGet).then(function (response) {
                            response.json().then(function (data) {
                                let modName = data["name"]
                                let modNameElement = document.getElementById("mod-name")
                                modNameElement.innerText = modName
                                let modIdElement = document.getElementById("mod-id")
                                modIdElement.innerText = "ID: " + modToGet
                                let modSummary = data["summary"]
                                let modSummaryElement = document.getElementById("mod-summary")
                                modSummaryElement.innerText = modSummary
                                let modIconElement = document.getElementById("mod-icon")
                                if (data["icon_url"] != null) {
                                    modIconElement.setAttribute("src", data["icon_url"])
                                } else {
                                    modIconElement.style.display = "none"
                                }
                                let modAuthor = data["author"]
                                let modAuthorElement = document.getElementById("mod-auther")
                                modAuthorElement.innerText = "by " + modAuthor
                            })
                        })

                    }
                }
            } else {
            }
        })
    })
</script>
<style>

    #mod-name {
        font-weight: bolder;
        font-size: 2rem;
    }

    .column-left {
        background-color: #26292f;
        margin-left: 4rem;
        padding: 1rem;
        border-radius: 25px;
        max-width: 20rem;
    }

    .column-centre {
        text-align: center;
        position: absolute;
        float: inline-end;
        background-color: #26292f;
        margin-left: 4rem;
        padding: 1rem;
        border-radius: 25px;
        max-width: 20rem;
        display: flex;
        justify-self: center;
        justify-content: center;
    }

    #mod-icon {
        padding-left: 2px;
        width: 125px;
        height: 125px;
    }
</style>