---
    import DefaultLayout from "../layouts/DefaultLayout.astro";
    import apiPath from "../imports/imports";
---

<DefaultLayout></DefaultLayout>
<div id="mods">
    <p> Mods: </p>
    <p id="h"></p>
</div>
