<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>ModWeaver</title>
</head>
<div class="nav">
    <div id="img">
        <img class="logo" width="100" height="50" src="/imgs/mwtext.png">
    </div>
    <div id="text">
        <a id="nav_home" href="/">Home</a>
        <a id="nav_mods" href="/mods">Mods</a>
    </div>
</div>


</html>

<style>
    .nav {
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    html {
        background-color: #16181c;
    }

    * {
        color: white;
    }

    .logo {
        padding-right: 1.5%;
    }

    .text {
        text-align: center;
    }

    .img {}
</style>

<script>
    if (window.location.pathname == "/" || window.location.pathname == "/home") {
        console.log("f")
        document.getElementById("nav_home").style.textDecoration = "none";
    }
    else if (window.location.pathname == "/mods") {
        console.log("f")
        document.getElementById("nav_mods").style.textDecoration = "none";
    }
    console.log("f")

    import apiPath from "../imports/imports"
    console.log(apiPath)
    let projects = fetch(apiPath + "/list_projects").then(function resp(response) {
        return response.json().then(function parse(data) {
            console.log("h")
            for (let i = 0; i > data.length; i++) {
                console.log(data[i])
                let div = document.getElementById("h")
                let mod_element = document.createElement("p")
                let text_node = document.createTextNode("h")
                div.appendChild(text_node)
                document.appendChild(div)
            }
        })
    })
</script>